#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-shadow:#f9ebc7;
  border-radius: 4px;
  resize: vertical;
}

.form-container{
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: #f9ebc7;
  text-align: left;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #e9a20d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: sticky;
 margin-top: 15px;
}


.message {
  margin-top: 20px;
  font-weight: bold;
}